/* -------------------------------------- 
Table of contents 
1. menu and banner
2. page layout with flex box 
3. text and image format classes 
4. js file fomatting 
-------------------------------------- */

.ex{
    padding:2rem 0;
    border-bottom:1px dashed black;
    max-width: 65rem;
    margin:0 auto;
  }
  .example_container{
    padding:.5rem;
    display: flex;
  }

  .cnv_div, .code {
    margin:0 2rem;
  }


  h2 {
    padding: 0 2rem;
  }
  canvas {
    border: 2px solid black;
  }
  .notes, .challenge {
    padding: .75rem 2rem;
  }